version: 2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2024.01.2
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: make deps
      - run:
          name: Run lint
          command: make lint
      - run:
          name: Run tests
          command: make test
      - run:
          name: Build and Push Docker Image
          command: make docker_push

workflows:
  main_workflow:
    jobs:
      - build-and-test